---
import BaseHead from "../../components/BaseHead.astro";
import { Accordion } from "../../components/CSSComponents/Accordion/Accordion";
import { LogoList } from "../../components/CSSComponents/LogoList/LogoList";
import { SwipeableLogoList } from "../../components/CSSComponents/LogoList/SwipeableLogoList";
import { ReviewCard } from "../../components/CSSComponents/ReviewCard/ReviewCard";
import { Tag } from "../../components/CSSComponents/Tag/Tag";
import Footer from "../../components/Footer.astro";
import Header from "../../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE, cn, dummyReviews } from "../../consts";

const firstRow = dummyReviews.slice(0, dummyReviews.length / 2);
const secondRow = dummyReviews.slice(dummyReviews.length / 2);
---

<!doctype html>
<html lang="fr">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header lang="fr" />
    <main
      class="max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg xl:max-w-screen-xl 2xl:max-w-screen-2xl mx-auto"
    >
      <h1 class={cn("md:text-40 md:leading-48 text-28 leading-32 font-sans")}>
        Librairie de composants
      </h1>
      <div class="mb-12 relative">
        <h2>Review Card Component</h2>
        <div class="absolute top-0 right-0">
          <Tag link="#" color="#dd4b25" backgroundColor="white" client:visible>#HTML</Tag>
          <Tag link="#" color="#1da1f2" backgroundColor="white" client:visible>#CSS</Tag>
        </div>
        <ReviewCard
          {...dummyReviews[Math.floor(Math.random() * 9)]}
          client:visible
        />
      </div>
      <div class="mb-12 relative">
        <h2>LogoList Component</h2>
        <div class="absolute top-0 right-0">
          <Tag link="#" color="#dd4b25" backgroundColor="white" client:visible
            >#HTML</Tag
          >
          <Tag link="#" color="#1da1f2" backgroundColor="white" client:visible
            >#CSS</Tag>
        </div>
        <div
          class="relative flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-lg border bg-background py-20 md:shadow-xl mb-24"
        >
          <LogoList pauseOnHover className="[--duration:20s]" client:visible>
            {
              firstRow.map((review) => (
                <ReviewCard {...review} client:visible />
              ))
            }
          </LogoList>
          <LogoList
            reverse
            pauseOnHover
            className="[--duration:30s]"
            client:visible
          >
            {
              secondRow.map((review) => (
                <ReviewCard {...review} client:visible />
              ))
            }
          </LogoList>
        </div>
      </div>

      <div class="mb-12 relative">
        <h2>SwipeableLogoList Component</h2>
        <div class="absolute top-0 right-0">
          <Tag link="#" color="#dd4b25" backgroundColor="white" client:visible
            >#HTML</Tag
          >
          <Tag link="#" color="#1da1f2" backgroundColor="white" client:visible
            >#CSS</Tag>
          <Tag link="#" color="#007bff" backgroundColor="white" client:visible
            >#React</Tag>
        </div>
        <div
          class="relative flex h-full w-full flex-col items-center justify-center overflow-hidden rounded-lg border bg-background py-20 md:shadow-xl mb-24"
        >
          <SwipeableLogoList pauseOnHover className="[--duration:5s]" client:visible>
            {
              firstRow.map((review) => (
                <ReviewCard {...review} client:visible />
              ))
            }
          </SwipeableLogoList>
          <SwipeableLogoList
            reverse
            pauseOnHover
            className="[--duration:10s]"
            client:visible
          >
            {
              secondRow.map((review) => (
                <ReviewCard {...review} client:visible />
              ))
            }
          </SwipeableLogoList>
        </div>
      </div>

      <div class="mb-12 relative">
        <h2>Accordion Component</h2>
        <div class="absolute top-0 right-0">
          <Tag link="#" color="#dd4b25" backgroundColor="white" client:visible
            >#HTML</Tag
          >
          <Tag link="#" color="#1da1f2" backgroundColor="white" client:visible
            >#CSS</Tag>
        </div>
        <Accordion
          section={[
            { title: "Section 1", content: "Content 1" },
            { title: "Section 2", content: "Content 2" },
          ]}
          client:visible
        />
      </div>

      <div class="mb-12 relative">
        <h2>Tag Component</h2>
        <div class="absolute top-0 right-0">
          <Tag link="#" color="#dd4b25" backgroundColor="white" client:visible
            >#HTML</Tag
          >
          <Tag link="#" color="#1da1f2" backgroundColor="white" client:visible
            >#CSS</Tag>
        </div>
        <Tag link="#" color="yellow" backgroundColor="black" client:visible
          >#Tag Title</Tag
        >
      </div>
    </main>
    <Footer lang="fr" />
  </body>
</html>
