---
import BlogPost from "../../layouts/BlogPost.astro";
---

<BlogPost
  title="About Me"
  description="Lorem ipsum dolor sit amet"
  pubDate={new Date("July 03 2024")}
  heroImage="/me.jpeg"
  lang="en"
>
  <div>
    <p class="my-4">
      Hi folk's ! I'm Kevin and I am a front-end developer recently based in
      Annecy. I'm followed by a puppy named 
	  <button popovertarget="luna-popover">Luna 🐶</button>.
    </p>

    <div
      class="rounded-full border border-solid border-slate-300"
      id="luna-popover"
      popover
    >
      <img
        class="shadow-md w-[200px] h-[200px] object-cover rounded-full border-white"
        alt="Luna dog"
        src="luna.jpg"
        width="200"
        height="200"
      />
    </div>

    <p class="my-4">
      I'm passionate about web development, business, web3, travels, sports and
      I love to learn new things and discover new culture around the world.
    </p>

    <p class="my-4">
      I'm currently working at
      <a class="text-blue-600" href="https://www.payfit.com">PayFit</a>
      as a full stack engineer and I actually try to master Astro.
    </p>

	<p class="my-4">
		I hope you will enjoy my content and don't hesitate to reach me on !
	  </p>
  </div>
</BlogPost>
