---
import Layout from "../layouts/BlogPost.astro";
---

<Layout
  title="À propos de moi"
  description="Découvrez qui je suis, ce que j'aime et ce que je fais."
  pubDate={new Date("July 03 2024")}
  heroImage="/me.jpeg"
  lang="fr"
>
  <div>
    <p class="my-4">
      Bonjour à tous ! Je suis Kevin et je suis un développeur front-end habitant depuis recemment à Annecy. J'ai à mes côtés un chiot nommé
	  <button class="text-blue-600" popovertarget="luna-popover">Luna 🐶</button> mi beauceron, mi border collie.
    </p>

    <div
      class="rounded-full border border-solid border-yellow-500 p-0"
      id="luna-popover"
      popover
    >
      <img
        class="w-[200px] h-[200px] object-cover rounded-full"
        alt="Luna dog"
        src="/luna.jpg"
        width="200"
        height="200"
      />
    </div>

    <p class="my-4">
      Je suis passionné par le développement web, le business, le web3, les voyages, le sport et j'aime apprendre de nouvelles choses et découvrir des choses dépaysantes à travers le monde.
    </p>

    <p class="my-4">
      Je travaille actuellement chez 
      <a class="text-blue-600" href="https://www.payfit.com">PayFit</a>
      en tant qu'ingénieur full stack et j'essaie actuellement de maîtriser Astro.
    </p>

	<p class="my-4">
    J'éspère que vous apprécierez mon contenu et n'hésitez pas à me contacter !
	  </p>
  </div>
</Layout>
